.carre-contenu {
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding: 50px; 
    width: 50%;
    margin: auto;
    margin-bottom: 80px;
}

.carre-contenu h2 {
    margin-top: 30px;
}

.carre-contenu ul {
    margin-top: 30px;
}

.carre-contenu + div {
    text-align: center;
}

.about-main {
    margin: auto;
}

.about-autoportrait {
    height: 200px;
    background-image: url(../images/autoportrait3.jpeg);
    background-size: 210px;
    background-repeat: repeat;
    width: 50%;
    margin: auto;
    margin-top: 30px;
    box-shadow: 60px 34px #7C81AD;
}

.section-tarifs {
    width: 80%;
    margin: auto;
}

table {
    color: white;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

table + div {
    text-align: center;
    padding-top: 80px;
}

td, 
th {
    padding: 15px;
    border: 1px solid #a5b4fc;

}

td { 
    padding: 80px; 
}

h2 {
    margin-bottom: 80px;
  }
  
h1,
h2 {
    text-align: center;
}

.home-contact h2 {
    text-align: center;
    color: #a5b4fc;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    color: white;
}

.form-name-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input,
textarea {
    padding: 15px;
    border-radius: 3px;
    border: none;
}

label {
    margin-bottom: 10px;
}

input[type='submit'] {
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

@media screen and (max-width: 996px) {
    .section-tarifs {
      display: none;
    }

    .form-name-email {
        flex-direction: column;
        gap: 0;
    }
}